/*
    Google Font: Source Sans Pro
*/

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    line-height: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Hero Section Styling */
.heroSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width:100%;
    background-color: #80E1FB;
}
.heroSection {
    text-align: center;

}

.eventDate {
    text-transform: uppercase;
    font-weight: bolder;
}

.headline {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    padding: 25px 0;
    line-height: 1.2em;
}

#timer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 1.5em;
}

#timerDays {
    margin-right: 20px;
    font-weight: bold;
    color: black;
}

#timerHours,
#timerMinutes,
#timerSeconds {
    margin: 0 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

#timerLabelDays,
#timerLabelHours,
#timerLabelMinutes,
#timerLabelSeconds {
    text-transform: uppercase;
    color: white;
    font-size: .8em;
    margin: 0px 10px
}

.wowImageContainer {
    text-align: center;
}

.wowImage {
    max-width: 350px;
}

/* Speakers Section Styles */

.speakersContainer {
    background-image: url('../images/01_Bluedrip_2x.png');
    padding: 10px;
}

.title,
.subject {
    text-align: center;
    padding-bottom: 10px;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
}

.description {
    text-align: center;
    padding-bottom: 20px;
}

.speakerProfileCard {
    margin-top: 10px;
    text-align: center;
}

.profilePicture {
    height: 250px;
    width: 250px;
    padding-top: 10px;
    border-radius: 20px;
}

.speakerName,
.speakerTitle {
    font-weight: bolder;
}

.speakerName {
    font-size: 1.3em;
}

/* Modal styling */

.modal-open {
    border: none;
    outline: none;
    background: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    display:none;
}

.modal-content {
    background: rgba(255,255,255,0.8);
    margin-top: 100px;
    width: 70%;
    margin: 0 auto;
    padding: 8px 24px;
    border-radius: 4px;
    z-index: 4;
}

.modal-header {
    font-weight: 500;
    padding: 10px;
    font-size: 20px;
    line-height: 2em;
}

.modal-header .modal-close {
    float: right;
    font-size: 20px;
    background: #80E1FB;
    padding: 2px 15px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
}

.modal-main {
    color: #333;
    padding: 15px 0;
}

/* Our Product Section Styling */

.productSection {
    background: url('../images/02_Yellowdrip_2x.png');
    background-size: cover;
    background-position: top left 10px;
    padding: 100px;

}

.video {
    text-align: center;
}

.videoScreenShot {
    max-width: 250px;
}

/* Sponsor Section Styling */

.sponsorSection {
    padding-top: 100px;
    width: 100%;
    background: url('../images/03_Pinkdrip_2x.png');
    background-size: cover;
    background-position: top left -600px;
 }

.sponsorLogoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sponsorLogo {
    width: 150px;
    height: 150px;
}

/* Footer Styling */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 150px;
    text-transform: uppercase;
    font-size: .8em;
}

.footerSection {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}

.logos {
    width: 40px;
    height: 40px;
    display: block;
}

.brandliveLogo {
    margin-left: 35px;
}

.nowStreamingLogo {
    margin-right: 35px;
}

.footerLinks ul {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    list-style: none;
    margin-top: 15px;
}

/* Media Queries */

/* Desktop */

@media screen 
    and (min-width: 1200px)
    and (-webkit-min-device-pixel-ratio: 1) {

    /* Hero Section Desktop Styling */

    .heroSectionContainer {
        margin-top: 10px;
    }

    .heroSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin: auto;
        letter-spacing: 1px;
    }

    .heroLeft {
        display: flex;
        flex-direction: column;
        justify-content: left;
        height: 100%;
    }

    .headline {
        color: white;
        max-width: 500px;
        font-size: 3.5em;
    }

    #timer {
        justify-content: left;
    }

    #timerLabelHours,
    #timerLabelMinutes,
    #timerLabelSeconds {
        margin: 0 5px
    }

    #timerLabelDays {
        margin-left: -5px;
    }

    .info,
    .eventDate {
        font-size: 1.2em;
        max-width: 600px;
    }

    .wowImageContainer {
        text-align: left;
    }

    .wowImage {       
        max-width: 500px;
    }

    /* Speakers Section Desktop Styling */

    .speakersContainer {
        background-size: cover;
        background-position: top left 450px;
    }
    
    .speakersSection {
        margin-top: 100px;
    }

    .speakerProfileContainer {
        display: flex;
        justify-content: center;
    }

    .speakerProfileCard {
        margin: 35px;
    }

    .profileInfo {
        line-height: 1.5em;
        max-width: 250px;
        text-align: left;
    }

    /* Speaker Section Modal Styling - Desktop */

       
    .modal-content {
        width: 500px;
        padding: 8px 24px;
    }

    /* Our Product Section Desktop Styling */

    .productSection {
        height: 650px;
        background-size: cover;
        background-position: top left 400px;
    }

    .description {
        width: 600px;
        margin: 0 auto;
    }

    .videoScreenShot {
        max-width: 500px;
    }
    
    /* Sponsor Section Desktop Styling */

    .sponsorSection {
        background-position: top right -700px;
    }

    .sponsorLogoContainer {
        flex-direction: row;
        justify-content: center;
        padding: 50px 0px;
    }

    .sponsorLogo {
        width: 100px;
        height: 100px;
    }

    /* Footer Styling - Desktop */
    .logos {
        padding: 0;
    }

    .footerSection {
        width: 100vw;
        justify-content: space-evenly;
    }
}

/* Tablet */

@media only screen 
  and (min-device-width: 600px)
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    /* Hero Section Tablet Styling */

    .heroSection {
        display: flex;
        flex-direction: row;
    }

    .heroLeft {
        display: flex;
        flex-direction: column;
        text-align: left;
        height: 100%;
        padding: 125px;
    }

    .headline {
        text-align: left;
        max-width: 300px;
    }

    #timer {
        justify-content: left;    
    }

    #timerDays {
        margin-right: 20px;
        font-weight: bold;
    }
    
    #timerHours,
    #timerMinutes,
    #timerSeconds {
        margin: 0 20px;
        padding-bottom: 10px;
        font-weight: bold;
    }
    
    #timerLabelDays {
        margin-left: -5px;
    } 
    
    #timerLabelDays,
    #timerLabelHours,
    #timerLabelMinutes,
    #timerLabelSeconds {
        color: white;
        font-size: .8em;
    }
    
    .wowImage {
        max-width: 400px;
        max-height: 400px;
        margin-top: 50px;
        margin-right: 45px;
    }

    /* Speakers Section Tablet Styling */

    .speakersSection {
        margin-top: 100px;
    }

    .speakerProfileContainer {
        display: flex;
        justify-content: center;
    }

    .speakerProfileCard {
        margin: 0 10px;
    }

    .profileInfo {
        line-height: 1.5em;
        max-width: 250px;
        text-align: left;
    }

    /* Our Product Section Tablet Styling */

    .productSection {
        height: 650px;
    }

    .description {
        width: 600px;
        margin: 0 auto;
    }

    .videoScreenShot {
        max-width: 500px;
    }
    
    /* Sponsor Section Tablet Styling */

    .sponsorSection {
        background-size: cover;
        background-position: top right -500px;
    }

    .sponsorLogoContainer {
        flex-direction: row;
        justify-content: center;
    }

    .sponsorLogo {
        width: 100px;
        height: 100px;
    }

    /* Tablet: Portrait */

    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
       
        /* Hero Section Tablet Portrait Styling */

       .heroSection {
            flex-direction: column;
        }
       
        .headline {
            max-width: 500px;
        }

        #timerLabelHours,
        #timerLabelMinutes,
        #timerLabelSeconds {
            color: white;
            font-size: .8em;
            margin: 0px 5px;
    }

        .wowImageContainer {
            margin-bottom: 20px;
        }

        .wowImage {
           width: 800px;
        }
  }
}